.topBrands {
  margin-top: 5rem;
  max-width: 500px;
  height: 105px;
  border-top: 1px solid rgba(195, 195, 195);
  border-bottom: 1px solid rgba(195, 195, 195);
}

.midBrands {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

@media (min-width: 1024px) {
  .topBrands {
    max-width: 1900px;
  }
}
