.root {
  margin-top: 1rem;
  max-width: 800px;
}

.commentContent {
  border-radius: 7px;
  box-shadow: -1px -2px 17px #857d7d69;
}

.commentImage {
  width: 780px;
  height: 465px;
  margin: 0 3rem;
}

.infoComments {
  display: grid;
  justify-content: center;
  color: #fff;
  padding: 50px 0;
}

.dataComments {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3) 85px;
  row-gap: 1.5rem;
}

.dataComments div {
  width: 350px;
  text-align: center;
  vertical-align: middle;
}

.dataComments div p {
  color: #3b3d40;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.8rem;
  margin-top: 15px;
}

@media (min-width: 1024px) {
  .root {
    max-width: 1900px;
  }

  .infoComments {
    padding: 100px 0;
  }

  .dataComments {
    display: flex;
  }

  .consumerComments {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin: 0 2rem;
    padding: 0 2rem;
  }
}
