.root {
  display: grid;
  justify-content: center;
  margin-top: 1rem;
  /* padding: 50px 0 50px; */
}

.fullContent {
  display: grid;
  justify-content: center;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleContent,
.subTitleContent {
  font-family: var(--venia-global-fontFamily-serif);
  color: #cacaca;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 100%;
}

.subTitleContent {
  color: #3b3d40;
}

.textContent {
  color: #3b3d40;
  font-family: var(--venia-global-fontFamily-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 130%;
  max-width: 590px;
  margin: 20px 0px 40px;
}

.btnContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 197px;
  height: 55px;
  background-color: #a6907f;
  border-radius: 7px;
  color: #ffffff;
  margin-top: 30px;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.btnContent:hover {
  background-color: #a6907fd3;
}

.videoContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 480px;
  background-color: rgba(154, 152, 152, 0.565);
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0px 0px 14px 1px #00000014;
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .root {
    padding: 50px 0 100px;
  }

  .fullContent {
    display: flex;
  }

  .mainContent {
    margin-right: 3.2rem;
  }

  .titleContent,
  .subTitleContent {
    font-size: 3.5rem;
  }

  .textContent {
    font-size: 20px;
    line-height: 130%;
  }

  .videoContent {
    width: 200px;
    height: 350px;
  }
}
