.root {
  display: grid;
  justify-content: center;
  margin-top: 1rem;
  padding: 50px 0 50px;
  background-color: #3b3d40;
}

.fullContent {
  display: grid;
  justify-content: center;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleContent {
  color: #cacaca;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 120%;
}

.subTitleContent {
  color: #ffffff;
  font-family: var(--venia-global-fontFamily-serif);
  font-weight: bold;
  font-size: 2rem;
  line-height: 140%;
  max-width: 550px;
  margin: 20px 0px;
}

.textContent {
  color: #ffffff;
  font-family: var(--venia-global-fontFamily-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  max-width: 550px;
  margin: 0px;
}

.btnContent {
  width: 268px;
  height: 55px;
  background-color: #a6907f;
  border-radius: 5px;
  color: #fff;
  margin-top: 30px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.btnContent:hover {
  background-color: #a6907fd3;
}

.videoContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 320px;
  border-radius: 1rem;
  background-color: rgba(154, 152, 152, 0.565);
  cursor: pointer;
  box-shadow: 0px 0px 14px 15px #00000014;
}

.infoLive {
  display: grid;
  justify-content: center;
  color: #fff;
}

.dataLive div h2 {
  font-size: 2.5rem;
  line-height: 120%;
}

.titleLive {
  margin: 3rem 0;
  text-align: center;
}

.titleLive h2 {
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 130%;
  text-align: center;
  color: #a6907f;
}

.titleLive p {
  margin-top: 10px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 120%;
  font-weight: 400;
}

.dataLive {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3) 85px;
  row-gap: 1.5rem;
}

.fittingRoom {
  max-width: 500px;
}

.titleFittingRoom {
  margin-left: 10px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #ffffff;
}

/* .videoContainer {
  margin: 0 -2rem;
  width: 330px;
  height: 390px;
} */

.videoBrands {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 390px;
  border-radius: 1rem;
  background-color: rgba(154, 152, 152, 0.565);
  margin: 0 -5rem;
  cursor: pointer;
  box-shadow: 0px 0px 14px 15px #00000014;
}

@media (min-width: 1024px) {
  .root {
    padding: 50px 0 100px;
  }

  .fullContent {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    column-gap: 100px;
  }

  .mainContent {
    margin-right: 3.2rem;
  }

  .titleContent {
    font-size: 4.5rem;
  }

  .subTitleContent {
    font-size: 2.8rem;
    line-height: 115%;
  }

  .textContent {
    font-size: 1.35rem;
    line-height: 1.8rem;
  }

  .videoContent {
    width: 450px;
    height: 630px;
    margin: 0 2rem 0 20rem;
  }

  .titleLive h2 {
    font-size: 2.5rem;
    line-height: 120%;
    text-align: center;
  }

  .titleLive p {
    font-size: 2.2rem;
  }

  .dataLive {
    display: flex;
  }

  .dataLive div {
    width: 300px;
    text-align: center;
    vertical-align: middle;
  }

  .dataLive div h2 {
    font-size: 3.5rem;
  }

  .peopleInLive {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    margin: 0 2rem;
    padding: 0 2rem;
  }

  .fittingRoom {
    max-width: 1900px;
  }

  .titleFittingRoom {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  /* .videoContainer {
    margin: 0 -5rem;
  } */
}
