h1,
h2,
h3 {
  text-transform: none;
  letter-spacing: normal;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 0 0.75rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleContent {
  text-transform: uppercase;
  letter-spacing: 8px;
  color: rgba(195, 195, 195);
  font-size: 2rem;
  text-align: center;
}

.subTitleContent {
  color: #2d4054;
  font-family: var(--venia-global-fontFamily-serif);
  font-size: 1.25rem;
  line-height: 170%;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 420px;
  margin: 20px 0px;
  text-align: center;
}

.textContent {
  color: #2d4054;
  font-family: var(--venia-global-fontFamily-serif);
  font-size: 1.1rem;
  line-height: 170%;
  max-width: 550px;
  padding: 0 20px 0 0;
  text-align: center;
}

.btnContent {
  width: 268px;
  height: 55px;
  background-color: #000000;
  border-radius: 5px;
  color: #fff;
  margin-top: 30px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.btnContent:hover {
  background-color: #000000bf;
}

.videoContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 320px;
  border-radius: 1rem;
  background-color: rgba(154, 152, 152, 0.565);
  margin-left: 3.2rem;
  margin-top: 2rem;
  cursor: pointer;
  box-shadow: 0px 0px 14px 3px #00000014;
}

@media (min-width: 1024px) {
  .root {
    display: flex;
    flex-direction: row;
  }

  .mainContent {
    margin-right: 3.2rem;
  }

  .titleContent {
    font-size: 2.8rem;
    text-align: left;
  }

  .subTitleContent {
    text-align: justify;
  }

  .textContent {
    text-align: justify;
  }

  .videoContent {
    width: 270px;
    height: 480px;
    margin-top: 0;
  }
}
