.root {
  display: grid;
  justify-content: center;
  background-color: #e8e8e8;
  padding: 100px 0px;
}

.contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 6px rgb(0 0 0 / 5%);
  border-radius: 5px;
  width: 775px;
  height: 450px;
}

.dataForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactForm input,
.contactForm textarea {
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  padding: 6px 10px;
  height: 38px;
  width: 100%;
  line-height: 1.3;
  border-radius: 7px;
  outline: none;
}

.contactForm textarea {
  height: 100px;
}

.titleForm {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 30px;
  margin-bottom: 20px;
}

.emailForm {
  margin: 1rem 0;
}

.btnForm {
  background-color: #e8e8e8;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 0.75rem;
  width: 91px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 20% 1rem 80%;
  transition: 0.3s ease all;
}

.btnForm:hover {
  color: #fff;
  background-color: #000;
}
