.iconContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.iconContent svg {
  stroke: #fff;
}

.iconPlay {
  margin-left: 5px;
}
